body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006fd1+0,ffffff+30,ffffff+70,006fd1+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003df7+0,ffffff+30,ffffff+70,003df7+100 */
    background: rgb(0,61,247); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(0,61,247,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(0,61,247,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,61,247,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(0,61,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,61,247,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(0,61,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003df7', endColorstr='#003df7',GradientType=1 ); /* IE6-9 */
    color: #f2f7f9;
    text-align: center;
}
img{
    margin: 1%;
}
h1{
    font-size: 30px
}
h2{
    font-size: 25px
}
h3{
    font-size: 1.1em;
}
 p{
    font-family:Georgia;
    font-size: 13px;
 }
/*----------------------------------------core updates--------------------------*/
.navbar-inverse {
    background-color: #101113;
    border-color: #101113;
    border: 0;
    border-radius: 0;
}
.navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101113;
    margin-top: 12px;
}
.navbar-inverse > .nav > navbar-right > li > a{
    text-transform: uppercase;
}
.navbar-inverse .nav>li>a,
.navbar-inverse .nav>li {
    position: relative;
    display: block;
    padding: 0px 15px 5px 0px;
}
@media (min-width: 1200px){
    .container {
        width: 1124px;
    }
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: rgba(171, 167, 167, 0.14);
    border: 3px solid rgba(221, 221, 221, 0.36);
    border-style: double;
    border-width: 5px;
     border-radius: 0px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.om_os .img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 2px;
    line-height: 1.42857143;
    background-color:rgba(171, 167, 167, 0.80);
    border: 1px solid #ddd;
    border-style: double;
    border-width: 0px;
    border-radius: 0px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/*-----------------------------------------Seccion header--------------*/
.nav_sider{
    background: #101113;
    padding-top: 27px;
    height: auto;
    color: white;
    text-align: left;
}
.nav_sider h1{
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0px;
}
.nav_sider h1 > span{
    color: #101113;
}
.nav_sider > div > p > span{
    margin-right: 5px;
}
.search input[type=search]{
    border-radius: 25px;
    height: 30px;
}
.input-group-addon {
    border-radius: 25px;
    margin-bottom: 5px;
}
.logo{
    height: auto;
    width: 100%;
}
/*------------------------------------------------------------*/
 .img {
    background: url("../img/header.jpeg");
    margin-top: 0px;
    text-align: left;
    display: block;
    min-height: 450px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.social{
    background: #171819;
    height: auto;
    min-height: 135px;
    padding-top: 25px;
}
.social_text{
    font-size: 30px;
    padding: 0 15px;
    text-align: left;
}
.social_text:before,.social_text:after{
    content: '"';
    color: white;
    font-size: 25px;
}
.social_buttoms{
    margin-top: 18px;
}
.social_buttoms > span{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    text-align: center;
    font-size: 50px;
}
/*---------------------------------------------------------*/
.om_os{
    background: #171819;
    height: auto;
    min-height: 80px;
    min-width: 200px;
    text-align: left;
    padding: 15px 20px;
}
/*---------------------------------------------------------*/
.sponsoret{
    background: #ffffff;
    height: auto;
    min-height: 80px;
    min-width: 200px;
    color: #212121;
    padding: 15px 0px;
    text-align: left;
}
.spons_top{
    padding-bottom: 25px;
}
/*---------------------------------------------------------*/
.content{
    background: #ffffff;
    height: auto;

}
.important_link{
    text-align: left;
    color: #212121;
    background: rgba(153,151,151,1);
    background: -moz-linear-gradient(top, rgba(141, 139, 139,0.19) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(141, 139, 139,0.19)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(141, 139, 139,0.19) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(141, 139, 139,0.19) 0%,  rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(141, 139, 139,0.19) 0%,  rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(141, 139, 139,0.19) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999797', endColorstr='#ffffff', GradientType=0 );
}
.article{
    background: rgba(255, 255, 255, 0.76);
    padding: 25px 5px;
    margin: 15px 0;
}
.art_gent{
    text-align: left;
    color:#212121;

}
.btn_art{
    width: 45%;
    margin-top: 25px;
}
.a_title{
    font-size: 25px;
}
.a_date{
    font-size: 12px;
    color:dodgerblue;
}
.a_content{
    padding-top: 7px;
    font-size: 14px;
}
.a_img{
    width: 100%;
    height: auto;
}
.social_footer{
    padding-top: 25px;
}

.article::after {
    content:'';
    width:100%;
    position: absolute;
    left:0;
    bottom:-1px;
    height: 1px;
    background: #212121;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 13%, 0.20)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 13%, 0.20) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 13%, 0.20) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 13%, 0.20) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 13%, 0.20) 50%, hsla(0, 0%, 0%, 0) 100%);
}

.total{
    padding-left: 0;
    padding-right: 0
}
.total .col-xs-4{
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
}
.total .col-xs-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.sponser_h2 {
padding-left: 15px;
}
/*------------------------------------------------------------*/



@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
    url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
    url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

.a_img{
    width: 100%;
    height: auto;
}
#articles .a_img{
    width: 230px;
    height: 180px;
}


@media (max-width: 1024px) {
    .a_img{
        width: 100%;
        height: auto;
    }
}